appdirs==1.4.3
click==6.7
cycler==0.10.0
Flask==0.12
gunicorn==19.7.1
itsdangerous==0.24
Jinja2==2.9.5
MarkupSafe==1.0
matplotlib==2.0.0
mpmath==0.19
numpy==1.12.1
packaging==16.8
pandas==0.19.2
pandas-datareader==0.3.0.post0
pyparsing==2.2.0
python-dateutil==2.6.0
pytz==2017.2
requests==2.13.0
requests-file==1.4.2
requests-ftp==0.3.1
six==1.10.0
sympy==1.0
Werkzeug==0.12.1
